<div class="well text-center" style="height:80%">
	<% @menus.each do |menu| %>
		<a href="<%= menu[:link]%>">
			<div class="panel panel-default launcher text-center">
			  <div class="panel-body">
			    <h1 class="giant">
			    	<span class="<%= menu[:icon] %>"></span>
			    </h1>
			    <h2>
			    	<%= menu[:title] %>
			    </h2>
			  </div>
			</div>
		</a>
	<% end %>
	<%= link_to destroy_user_session_path, method: :delete do %>
		<div class="panel panel-default launcher text-center">
		  <div class="panel-body">
		    <h1 class="giant">
		    	<span class="fa fa-send"></span>
		    </h1>
		    <h2> Cerrar Sesión</h2>
		  </div>
		</div>
	<% end %>
</div>